$font-size-base:        .9375rem;
$font-size-lg:          1.125rem;
$font-size-sm:          .875rem;

$line-height-base:      1.5;

$h1-font-size: 2rem;                //32px
$h2-font-size: 1.75rem;             //28px
$h3-font-size: 1.5rem;              //24px
$h4-font-size: 1.125rem;            //18px
$h5-font-size: 1rem;                //16px
$h6-font-size: .875rem;             //14px

$small-font-size: 87.5%;

$display1-size: 4.5rem;
$display2-size: 4rem;
$display3-size: 3.5rem;
$display4-size: 3rem;

// Badges
$badge-font-weight: 600;

// font weight
$font-weight-300:		300 !default;
$font-weight-400:		400 !default;
$font-weight-500:		500 !default;
$font-weight-600:		600 !default;
$font-weight-700:		700 !default;